@model asp_project.Models.Student

<h2>Chi tiết người dùng</h2>

<table class="table">
    <tr><th>Username</th><td>@Model.Username</td></tr>
    <tr><th>First Name</th><td>@Model.FirstName</td></tr>
    <tr><th>Last Name</th><td>@Model.LastName</td></tr>
    <tr><th>Email</th><td>@Model.Email</td></tr>
    <tr><th>Phone Number</th><td>@Model.PhoneNumber</td></tr>
</table>

<a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
<a asp-action="Index">Quay lại danh sách</a>
