@model asp_project.Models.User

<h2>Xóa người dùng</h2>

<h4>Bạn có chắc muốn xóa người dùng này?</h4>
<div>
    <p><strong>Tên đăng nhập:</strong> @Model.Username</p>
    <p><strong>Họ tên:</strong> @Model.LastName @Model.FirstName</p>
    <p><strong>Email:</strong> @Model.Email</p>
	<p><strong>Số điện thoại:</strong> @Model.PhoneNumber</p>
	<p><strong>Ngày sinh:</strong> @Model.BirthDay.ToString("dd/MM/yyyy")</p>
	<p><strong>Vai trò:</strong> @Model.Role</p>
</div>

<form asp-action="DeleteConfirm" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
