@model asp_project.Models.User

<h2>Chi tiết người dùng</h2>

<table class="table">
    <tr><th>Tài khoản: </th><td>@Model.Username</td></tr>
    <tr><th>Họ tên: </th><td>@Model.LastName @Model.FirstName</td></tr>
    <tr><th>Email: </th><td>@Model.Email</td></tr>
    <tr><th>Số điện thoại: </th><td>@Model.PhoneNumber</td></tr>
	<tr><th>Ngày sinh: </th><td>@Model.BirthDay.ToString("dd/MM/yyyy")</td></tr>
	<tr><th>Vai trò: </th><td>@Model.Role</td></tr>
</table>

<a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
<a asp-action="Index">Quay lại danh sách</a>
